In [1]:
import pandas as pd

C:\Users\Hue\AppData\Local\Temp\ipykernel_25512\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [10]:
from sqlalchemy import create_engine

In [11]:
engine = create_engine("postgresql://root:root@localhost:5431/ny_taxi")

In [2]:
pd.__version__

'2.2.0'

In [3]:
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz"

In [5]:
df = pd.read_csv(url, compression='gzip', low_memory=False)

In [15]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [16]:
print(pd.io.sql.get_schema(df,con=engine,name="green_taxi_trips"))

CREATE TABLE green_taxi_trips (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [17]:
df.to_sql(name='green_taxi_trips', con=engine, if_exists='replace')

63

In [19]:
url2 = "https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"

In [21]:
df_zone = pd.read_csv(url2, low_memory=False)

In [22]:
print(pd.io.sql.get_schema(df_zone,con=engine,name="zones"))

CREATE TABLE zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [23]:
df_zone.to_sql(name='zones', con=engine, if_exists='replace')

265