In [1]:
import pyspark

In [3]:
pyspark.__file__

'/home/huely/spark/spark-3.3.2-bin-hadoop3/python/pyspark/__init__.py'

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/03/01 02:57:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2024-03-01 02:59:33--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.203.152, 52.217.92.118, 52.216.210.216, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.203.152|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2024-03-01 02:59:33 (130 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [9]:
!head taxi+_zone_lookup.csv

In [2]:
df = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

NameError: name 'spark' is not defined

In [3]:
df.show()

NameError: name 'df' is not defined

In [16]:
df.write.parquet('zones')

In [17]:
!ls -la

total 40
drwxrwxr-x  4 huely huely  4096 Mar  1 03:03 .
drwxr-xr-x 15 huely huely  4096 Mar  1 02:35 ..
drwxrwxr-x  2 huely huely  4096 Mar  1 02:36 .ipynb_checkpoints
-rw-rw-r--  1 huely huely  6353 Mar  1 03:03 Untitled.ipynb
-rw-rw-r--  1 huely huely 12322 Aug 17  2016 taxi+_zone_lookup.csv
drwxr-xr-x  2 huely huely  4096 Mar  1 03:03 zones