In [3]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/04 16:20:11 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/03/04 16:20:12 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
df_green = spark.read.parquet('/home/huely/data/pq/green/*/*')

In [5]:
df_yellow = spark.read.parquet('/home/huely/data/pq/yellow/*/*')

In [6]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [7]:
df_yellow.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [8]:
df_green = df_green \
    .withColumnRenamed('lpep_pickup_datetime','pickup_datetime') \
    .withColumnRenamed('lpep_dropoff_datetime','dropoff_datetime')

In [9]:
df_green.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'ehail_fee',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

In [10]:
df_yellow = df_yellow \
    .withColumnRenamed('tpep_pickup_datetime','pickup_datetime') \
    .withColumnRenamed('tpep_dropoff_datetime','dropoff_datetime')

In [11]:
df_yellow.columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge']

# Combine both datasets

In [12]:
#combine 2 datasets into one:

# take columns that both datasets have: 9with pickup_datetime and dropoff_datetime already renamed)

set(df_green.columns) & set(df_yellow.columns)

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'dropoff_datetime',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'pickup_datetime',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'trip_distance'}

In [13]:
# keeps the order of columns:

common_columns = []

yellow_columns = set(df_yellow.columns)

for col in df_green.columns:
    if col in yellow_columns:
        common_columns.append(col)

In [14]:
common_columns

['VendorID',
 'pickup_datetime',
 'dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'congestion_surcharge']

In [15]:
from pyspark.sql import functions as F

In [16]:
df_green_select = df_green \
    .select(common_columns) \
    .withColumn('service_type', F.lit('green'))

In [17]:
df_yellow_select = df_yellow \
    .select(common_columns) \
    .withColumn('service_type', F.lit('yellow'))

In [18]:
df_trips_data = df_green_select.unionAll(df_yellow_select)

In [19]:
df_trips_data.groupBy('service_type').count().show()

+------------+--------+
|service_type|   count|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

# Query with SQL

register combined dataframe as a view

In [20]:
df_trips_data.createOrReplaceTempView('trips_data')

In [21]:
spark.sql("""
SELECT
    service_type,
    count(1)
FROM
    trips_data
GROUP BY
    service_type;
"""
).show()

+------------+--------+
|service_type|count(1)|
+------------+--------+
|       green| 2304517|
|      yellow|39649199|
+------------+--------+

In [22]:
df_result = spark.sql("""
SELECT
    -- Reveneue grouping 
    PULocationID AS revenue_zone,
    date_trunc("month", pickup_datetime) AS revenue_month, 

    service_type, 

    -- Revenue calculation 
    SUM(fare_amount) AS revenue_monthly_fare,
    SUM(extra) AS revenue_monthly_extra,
    SUM(mta_tax) AS revenue_monthly_mta_tax,
    SUM(tip_amount) AS revenue_monthly_tip_amount,
    SUM(tolls_amount) AS revenue_monthly_tolls_amount,
    SUM(improvement_surcharge) AS revenue_monthly_improvement_surcharge,
    SUM(total_amount) AS revenue_monthly_total_amount,

    -- Additional calculations
    AVG(pASsenger_count) AS avg_monthly_pASsenger_count,
    AVG(trip_distance) AS avg_monthly_trip_distance

FROM trips_data
GROUP BY 1,2,3

""")

In [23]:
df_result.show()

+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
|revenue_zone|      revenue_month|service_type|revenue_monthly_fare|revenue_monthly_extra|revenue_monthly_mta_tax|revenue_monthly_tip_amount|revenue_monthly_tolls_amount|revenue_monthly_improvement_surcharge|revenue_monthly_total_amount|avg_monthly_pASsenger_count|avg_monthly_trip_distance|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
|         250|2020-02-01 00:00:00|       green|  15359.960000000048|               1282.5|                  117.5|         56.00999999999999|           590.3200000000004|                    180.0000000000011|           17598.43999999995|         1.2394957983193278|         4.96281065088757|
|         158|2020-02-01 00:00:00|       green|              124.36|                 8.25|                    0.5|                       0.0|                         2.8|                   0.8999999999999999|                      136.81|                       NULL|       11.090000000000002|
|          15|2020-03-01 00:00:00|       green|  1682.2299999999998|                  5.5|                    6.5|                       0.0|                       79.56|                   19.800000000000026|          1802.4399999999994|                        1.0|        7.910298507462685|
|         229|2020-03-01 00:00:00|       green|   676.3600000000001|                  0.0|                    1.0|                       0.0|          42.839999999999996|                    8.099999999999998|                       728.3|                        1.0|        7.691111111111111|
|          44|2020-10-01 00:00:00|       green|               146.5|                  3.5|                    2.0|                       5.5|                         0.0|                                  1.2|                       158.7|                        1.0|                  12.0475|
|         137|2020-10-01 00:00:00|       green|             3480.83|                  0.0|                    0.0|                     297.0|          250.92000000000013|                    32.40000000000005|          4061.1500000000005|                       NULL|        9.184722222222225|
|         152|2020-02-01 00:00:00|       green|            37630.82|              1541.25|                 1398.5|         2836.660000000006|           538.3700000000005|                    903.8999999999543|          45984.600000000624|         1.2240055826936498|       2.7264033667853633|
|         136|2020-03-01 00:00:00|       green|  12226.930000000004|                 60.5|                   89.5|        32.160000000000004|           485.2000000000002|                   163.20000000000047|          13123.939999999982|         1.1637426900584795|        6.487297297297296|
|          26|2020-03-01 00:00:00|       green|   9467.540000000003|                 52.5|                   52.0|                       0.0|          184.35000000000005|                   122.99999999999919|           9929.640000000007|         1.1397849462365592|         5.23760191846523|
|         119|2020-03-01 00:00:00|       green|  11026.200000000003|                100.5|                  108.5|                     40.46|           525.8000000000003|                    156.0000000000002|          12021.459999999981|         1.0924369747899159|        5.552723880597016|
|         153|2020-03-01 00:00:00|       green|  2039.5400000000009|                 15.0|                   30.5|                     29.79|                        33.4|                   34.800000000000026|           2204.779999999999|         1.1333333333333333|        4.165042016806725|
|         243|2019-12-01 00:00:00|       green|               13.99|                  0.0|                    0.0|                       1.0|                         0.0|                                  0.3|                       15.29|                        1.0|                      0.0|
|          28|2020-03-01 00:00:00|       green|             5891.06|                29.25|                   53.0|                     80.32|           195.8400000000001|                    84.29999999999956|          6368.8200000000115|         1.2043795620437956|        5.802602739726023|
|         102|2020-03-01 00:00:00|       green|  2874.7399999999993|                 26.5|                   17.5|         40.21999999999999|          104.04000000000002|                    46.19999999999992|          3135.6500000000015|         1.1481481481481481|        4.857922077922078|
|          45|2020-03-01 00:00:00|       green|   2403.390000000001|                 11.0|                    5.0|                       0.0|           63.99999999999999|                    21.30000000000003|                     2506.64|                        1.2|        9.125633802816902|
|          48|2020-10-01 00:00:00|       green|  1504.4299999999998|                  0.0|                    0.0|                     115.5|           75.72999999999999|                   12.600000000000009|          1708.2600000000004|                       NULL|        9.061428571428573|
|          20|2020-01-01 00:00:00|       green|  11375.420000000006|                681.0|                  131.0|         90.61999999999998|           479.8600000000003|                   147.29999999999987|          12923.199999999988|         1.2297872340425533|        4.872311926605505|
|         130|2020-03-01 00:00:00|       green|   60166.09999999998|               1436.5|                 1759.0|         4972.700000000002|           731.1700000000004|                   1234.1999999999043|           70458.47000000281|         1.1157574079202437|        3.873904420549581|
|          18|2020-03-01 00:00:00|       green|    9502.12999999999|                 69.5|                  100.0|                     78.06|          414.14000000000027|                   136.19999999999945|          10401.980000000003|         1.1727272727272726|         5.48170886075949|
|         134|2020-10-01 00:00:00|       green|  11178.410000000002|                173.5|                  198.0|        1080.0600000000006|          253.56000000000012|                    182.7000000000012|           13123.97999999997|         1.5550122249388754|        4.502791461412151|
+------------+-------------------+------------+--------------------+---------------------+-----------------------+--------------------------+----------------------------+-------------------------------------+----------------------------+---------------------------+-------------------------+
only showing top 20 rows

In [28]:
# write result to parquet file:
df_result.write.parquet('/home/huely/data/report/revenue/', mode='overwrite')

In [29]:
spark.stop