In [2]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/03/04 16:10:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [11]:
df_green = spark.read.parquet('/home/huely/data/pq/green/*/*')

In [7]:
df_green.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- lpep_pickup_datetime: timestamp (nullable = true)
 |-- lpep_dropoff_datetime: timestamp (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- RatecodeID: integer (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- ehail_fee: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- trip_type: integer (nullable = true)
 |-- congestion_surcharge: double (nullable = true)

In [25]:
df_green.show()

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2020-01-08 09:48:52|  2020-01-08 09:52:42|                 N|         1|          97|          49|              1|         0.82|        5.0|  0.0|    0.5|       1.2|         0.0|     NULL|                  0.3|         7.0|           1|        1|                 0.0|
|       2| 2020-01-04 10:28:49|  2020-01-04 10:32:45|                 N|         1|          42|          41|              1|         0.77|        5.0|  0.0|    0.5|      1.16|         0.0|     NULL|                  0.3|        6.96|           1|        1|                 0.0|
|       2| 2020-01-05 16:19:23|  2020-01-05 16:27:49|                 N|         1|           7|         193|              1|         1.46|        7.5|  0.0|    0.5|      1.66|         0.0|     NULL|                  0.3|        9.96|           1|        1|                 0.0|
|       2| 2020-01-01 09:55:05|  2020-01-01 09:55:08|                 N|         5|         177|         264|              1|          0.0|       18.0|  0.0|    0.0|       0.0|         0.0|     NULL|                  0.3|        18.3|           2|        2|                 0.0|
|       2| 2020-01-09 00:45:29|  2020-01-09 00:55:34|                 N|         1|          66|         209|              1|         2.38|       10.0|  0.5|    0.5|      2.81|         0.0|     NULL|                  0.3|       16.86|           1|        1|                2.75|
|       2| 2020-01-08 22:34:12|  2020-01-08 22:58:40|                 N|         1|           7|         239|              1|         5.11|       19.5|  0.5|    0.5|      4.71|         0.0|     NULL|                  0.3|       28.26|           1|        1|                2.75|
|       2| 2020-01-09 11:35:41|  2020-01-09 11:47:11|                 N|         1|         244|          24|              1|         3.39|       12.5|  0.0|    0.5|      2.66|         0.0|     NULL|                  0.3|       15.96|           1|        1|                 0.0|
|       2| 2020-01-06 17:31:18|  2020-01-06 17:40:09|                 N|         1|         166|         116|              1|         1.79|        8.5|  1.0|    0.5|      1.54|         0.0|     NULL|                  0.3|       11.84|           1|        1|                 0.0|
|       2| 2020-01-08 08:33:23|  2020-01-08 08:48:23|                 N|         1|          33|          13|              1|         2.84|       13.0|  0.0|    0.5|      3.31|         0.0|     NULL|                  0.3|       19.86|           1|        1|                2.75|
|       2| 2020-01-09 17:32:10|  2020-01-09 17:38:56|                 N|         1|         129|         129|              1|          0.7|        6.0|  0.5|    0.5|       0.0|         0.0|     NULL|                  0.3|         7.3|           2|        1|                 0.0|
|       2| 2020-01-07 18:52:04|  2020-01-07 18:55:33|                 N|         1|          25|          40|              1|          0.8|        4.5|  1.0|    0.5|      1.26|         0.0|     NULL|                  0.3|        7.56|           1|        1|                 0.0|
|       2| 2020-01-04 15:23:40|  2020-01-04 15:52:45|                 N|         1|          97|         165|              1|         6.61|       24.0|  0.0|    0.5|      4.96|         0.0|     NULL|                  0.3|       29.76|           1|        1|                 0.0|
|       2| 2020-01-10 17:04:27|  2020-01-10 17:12:08|                 N|         1|          41|          42|              1|         1.79|        7.5|  1.0|    0.5|       0.0|         0.0|     NULL|                  0.3|         9.3|           2|        1|                 0.0|
|       2| 2020-01-03 18:46:17|  2020-01-03 18:55:05|                 N|         1|          41|          42|              1|         1.84|        8.5|  1.0|    0.5|       0.0|         0.0|     NULL|                  0.3|        10.3|           2|        1|                 0.0|
|       2| 2020-01-10 22:52:36|  2020-01-10 22:58:02|                 N|         1|         146|         179|              1|         1.54|        7.0|  0.5|    0.5|       1.0|         0.0|     NULL|                  0.3|         9.3|           1|        1|                 0.0|
|       2| 2020-01-07 19:55:06|  2020-01-07 20:24:35|                 N|         1|         179|          48|              1|         5.61|       22.5|  1.0|    0.5|      5.41|         0.0|     NULL|                  0.3|       32.46|           1|        1|                2.75|
|       2| 2020-01-09 17:57:44|  2020-01-09 18:03:47|                 N|         1|         166|         238|              1|         1.51|        7.0|  1.0|    0.5|      1.76|         0.0|     NULL|                  0.3|       10.56|           1|        1|                 0.0|
|       2| 2020-01-03 14:36:03|  2020-01-03 14:45:39|                 N|         1|          82|          82|              1|         1.06|        7.5|  0.0|    0.5|       0.0|         0.0|     NULL|                  0.3|         8.3|           2|        1|                 0.0|
|       2| 2020-01-09 08:28:52|  2020-01-09 08:39:10|                 N|         1|          41|         151|              1|         1.17|        8.0|  0.0|    0.5|      1.32|         0.0|     NULL|                  0.3|       10.12|           1|        1|                 0.0|
|       2| 2020-01-07 18:46:30|  2020-01-07 19:32:24|                 N|         1|          66|         132|              1|        17.59|       48.5|  1.0|    0.5|     10.06|         0.0|     NULL|                  0.3|       60.36|           1|        1|                 0.0|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 20 rows

In [12]:
df_green.createOrReplaceTempView('green')

In [15]:
df_green_revenue = spark.sql("""

SELECT
date_trunc( "hour", lpep_pickup_datetime) AS hour,
PULocationID AS revenue_zone,
 
COUNT(1) AS number_records,
SUM(total_amount) AS amount
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1,2
ORDER BY
    1,2

""")

In [16]:
df_green_revenue.show()

+-------------------+------------+--------------+------------------+
|               hour|revenue_zone|number_records|            amount|
+-------------------+------------+--------------+------------------+
|2020-01-01 00:00:00|           7|            45| 769.7299999999996|
|2020-01-01 00:00:00|          17|             9|195.03000000000003|
|2020-01-01 00:00:00|          18|             1|               7.8|
|2020-01-01 00:00:00|          22|             1|              15.8|
|2020-01-01 00:00:00|          24|             3|              87.6|
|2020-01-01 00:00:00|          25|            26| 531.0000000000002|
|2020-01-01 00:00:00|          29|             1|              61.3|
|2020-01-01 00:00:00|          32|             2| 68.94999999999999|
|2020-01-01 00:00:00|          33|            11|317.27000000000004|
|2020-01-01 00:00:00|          35|             5|            129.96|
|2020-01-01 00:00:00|          36|            11| 295.3400000000001|
|2020-01-01 00:00:00|          37|             6|            175.67|
|2020-01-01 00:00:00|          38|             2| 98.78999999999999|
|2020-01-01 00:00:00|          40|             8|168.98000000000002|
|2020-01-01 00:00:00|          41|            84|1363.9599999999982|
|2020-01-01 00:00:00|          42|            52| 799.7599999999998|
|2020-01-01 00:00:00|          43|             6|            107.52|
|2020-01-01 00:00:00|          47|             1|              13.3|
|2020-01-01 00:00:00|          49|            14|266.76000000000005|
|2020-01-01 00:00:00|          51|             2|              17.8|
+-------------------+------------+--------------+------------------+
only showing top 20 rows

In [22]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('/home/huely/data/report/revenue/green', mode='overwrite')

In [3]:
df_yellow = spark.read.parquet('/home/huely/data/pq/yellow/*/*')

In [4]:
df_yellow.createOrReplaceTempView('yellow')

In [18]:
df_yellow_revenue = spark.sql("""

SELECT
date_trunc( "hour", tpep_pickup_datetime) AS hour,
PULocationID AS revenue_zone,
 
COUNT(1) AS number_records,
SUM(total_amount) AS amount
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1,2


""")

In [19]:
df_yellow_revenue.show()

+-------------------+------------+--------------+------------------+
|               hour|revenue_zone|number_records|            amount|
+-------------------+------------+--------------+------------------+
|2020-01-01 02:00:00|         234|           370| 6759.990000000011|
|2020-01-07 12:00:00|          68|           181| 3046.229999999999|
|2020-01-04 12:00:00|         249|           152| 2245.569999999999|
|2020-01-01 01:00:00|         107|           583| 9994.480000000025|
|2020-01-02 15:00:00|         236|           504|  7382.91000000002|
|2020-01-04 02:00:00|          48|           185| 3436.580000000001|
|2020-01-03 12:00:00|         163|           294| 5357.380000000009|
|2020-01-04 02:00:00|          79|           426| 6893.030000000011|
|2020-01-01 19:00:00|         100|           175|2726.7399999999966|
|2020-01-03 16:00:00|         132|           480|27982.999999999935|
|2020-01-03 18:00:00|         142|           378|  5731.95000000001|
|2020-01-06 11:00:00|         114|            48| 715.5299999999999|
|2020-01-07 23:00:00|         255|             3|              66.8|
|2020-01-01 03:00:00|         170|           257| 4632.000000000004|
|2020-01-03 10:00:00|         132|           240|11833.759999999997|
|2020-01-04 02:00:00|         246|            94| 1621.359999999999|
|2020-01-06 15:00:00|         151|           112|1745.8999999999992|
|2020-01-01 01:00:00|         162|           298| 5736.690000000011|
|2020-01-04 23:00:00|         161|           220|3379.9700000000007|
|2020-01-07 18:00:00|         229|           336| 5170.340000000004|
+-------------------+------------+--------------+------------------+
only showing top 20 rows

In [27]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('/home/huely/data/report/revenue/yellow', mode='overwrite')

# JOIN

In [36]:
# materializing the results for effiency processing: load the previous loaded data
df_green_revenue = spark.read.parquet('/home/huely/data/report/revenue/green')
df_yellow_revenue = spark.read.parquet('/home/huely/data/report/revenue/yellow')

In [37]:
# rename columns to seperate column names after join

df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('number_records','green_number_records') \
    .withColumnRenamed('amount','green_amount')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('number_records','yellow_number_records') \
    .withColumnRenamed('amount','yellow_amount')

In [38]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour','revenue_zone'], how='outer')

In [39]:
df_join.show()

+-------------------+------------+--------------------+------------------+---------------------+------------------+
|               hour|revenue_zone|green_number_records|      green_amount|yellow_number_records|     yellow_amount|
+-------------------+------------+--------------------+------------------+---------------------+------------------+
|2020-01-01 00:00:00|           3|                NULL|              NULL|                    1|              25.0|
|2020-01-01 00:00:00|           4|                NULL|              NULL|                   57|1004.3000000000002|
|2020-01-01 00:00:00|           7|                  45| 769.7299999999996|                   38| 455.1700000000001|
|2020-01-01 00:00:00|          12|                NULL|              NULL|                    6|106.99999999999999|
|2020-01-01 00:00:00|          37|                   6|            175.67|                    7|161.60999999999999|
|2020-01-01 00:00:00|          40|                   8|168.98000000000002|                    5|             89.97|
|2020-01-01 00:00:00|          45|                NULL|              NULL|                   42| 732.4800000000002|
|2020-01-01 00:00:00|          47|                   1|              13.3|                    1|               8.3|
|2020-01-01 00:00:00|          51|                   2|              17.8|                    1|              31.0|
|2020-01-01 00:00:00|          62|                   1|             15.95|                    1|             61.43|
|2020-01-01 00:00:00|          68|                NULL|              NULL|                  396| 7825.070000000014|
|2020-01-01 00:00:00|          73|                NULL|              NULL|                    1|              17.3|
|2020-01-01 00:00:00|          74|                  24| 317.0900000000001|                   47| 586.2100000000002|
|2020-01-01 00:00:00|          77|                   2| 75.99000000000001|                    3|            134.24|
|2020-01-01 00:00:00|          80|                  13|            364.32|                   20|371.40000000000003|
|2020-01-01 00:00:00|          83|                   7|              94.1|                    1|               9.8|
|2020-01-01 00:00:00|          88|                NULL|              NULL|                   36|             823.8|
|2020-01-01 00:00:00|          89|                   1|              11.3|                    2|             48.16|
|2020-01-01 00:00:00|          94|                   3| 64.24000000000001|                    1|              13.3|
|2020-01-01 00:00:00|          95|                  15|             202.2|                    1|               6.3|
+-------------------+------------+--------------------+------------------+---------------------+------------------+
only showing top 20 rows

In [41]:
df_join.write.parquet('/home/huely/data/report/revenue/total', mode='overwrite')

# Join one large table, one small

In [43]:
df_join = spark.read.parquet('/home/huely/data/report/revenue/total')

In [44]:
df_join.show()

+-------------------+------------+--------------------+------------------+---------------------+------------------+
|               hour|revenue_zone|green_number_records|      green_amount|yellow_number_records|     yellow_amount|
+-------------------+------------+--------------------+------------------+---------------------+------------------+
|2020-01-01 00:00:00|          14|                NULL|              NULL|                    1|               8.8|
|2020-01-01 00:00:00|          15|                NULL|              NULL|                    1|             34.09|
|2020-01-01 00:00:00|          17|                   9|195.03000000000003|                    8|220.20999999999998|
|2020-01-01 00:00:00|          25|                  26| 531.0000000000002|                   16| 324.3500000000001|
|2020-01-01 00:00:00|          32|                   2| 68.94999999999999|                    1|              18.0|
|2020-01-01 00:00:00|          43|                   6|            107.52|                  390| 6539.510000000013|
|2020-01-01 00:00:00|          49|                  14|266.76000000000005|                   10|185.64999999999998|
|2020-01-01 00:00:00|          59|                   3|50.900000000000006|                 NULL|              NULL|
|2020-01-01 00:00:00|          69|                   1|              11.8|                    4|            106.52|
|2020-01-01 00:00:00|          71|                   1|              23.8|                 NULL|              NULL|
|2020-01-01 00:00:00|          72|                   2|             67.53|                 NULL|              NULL|
|2020-01-01 00:00:00|          75|                  26|278.14000000000004|                   69| 958.3499999999995|
|2020-01-01 00:00:00|          78|                   2|             34.46|                 NULL|              NULL|
|2020-01-01 00:00:00|          82|                  28| 305.1200000000002|                    1|              29.8|
|2020-01-01 00:00:00|          85|                   4| 64.75999999999999|                    3|            102.56|
|2020-01-01 00:00:00|          87|                NULL|              NULL|                  112|2456.6699999999983|
|2020-01-01 00:00:00|          93|                NULL|              NULL|                    3|            210.28|
|2020-01-01 00:00:00|         107|                NULL|              NULL|                  380| 6441.030000000009|
|2020-01-01 00:00:00|         113|                NULL|              NULL|                  220|3984.3200000000043|
|2020-01-01 00:00:00|         116|                  18| 328.7600000000001|                   34| 561.5100000000001|
+-------------------+------------+--------------------+------------------+---------------------+------------------+
only showing top 20 rows

In [45]:
df_zones = spark.read.parquet('zones')

In [46]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [47]:
df_join

DataFrame[hour: timestamp, revenue_zone: int, green_number_records: bigint, green_amount: double, yellow_number_records: bigint, yellow_amount: double]

In [50]:
df_result = df_join.join(df_zones, df_join.revenue_zone == df_zones.LocationID)

In [53]:
df_result.printSchema()

root
 |-- hour: timestamp (nullable = true)
 |-- revenue_zone: integer (nullable = true)
 |-- green_number_records: long (nullable = true)
 |-- green_amount: double (nullable = true)
 |-- yellow_number_records: long (nullable = true)
 |-- yellow_amount: double (nullable = true)
 |-- LocationID: string (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Zone: string (nullable = true)
 |-- service_zone: string (nullable = true)

In [57]:
df_result.drop('LocationID').write.parquet('tmp/revenue-zones')

In [58]:
spark.stop